---
layout: page
title: AGC Representatives
permalink: /members/
---

<h2>Steering Committee</h2>

<div class="container">
    <div class="row">
        {% for member in site.representatives %}
            <div class="col-4">
                <div class="card flex-fill card-border">
                    {% if member.external_url %}
                        <a href="{{ member.external_url }}" class="card-link" target="_blank" rel="noopener noreferrer">
                    {% else %}
                        <a href="{{ site.baseurl }}{{ member.url }}" class="card-link">
                    {% endif %}
                        {% if member.image %}
                            <img class="card-img-top custom-card-img" src="{{ member.image | relative_url }}" alt="{{ member.title }}">
                        {% endif %}
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title">{{ member.title }}</h5>
                            <h6 class="card-text">{{ member.institution }}</h6>
                            <div class="card-text">
                                {{ member.text | markdownify }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>